/******************************************************************************/
/*******************TAG SELECTORS*************************/
body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
p{


}
/************************CLASS SELECTORS*****************************/
/*******************Outer most div/DIV-1***************************************/
.div-1{
  height: 798px;
  margin: 0 auto;
  width: 1436px;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  align-items: center;
  justify-content: center;
}


/*******************Inner div/DIV-2********************************************/
.div-2{
  height: 476px;
  width: 630px;
  border-radius: 10px;
  overflow: hidden;
}

/********************DIV-2-->(DIV-3)******************/
.div-3{
  height: 216px;
  width: 630px;
  background-color: white;

}
.div3-h2{
  width: 80%;
  margin-left: 42px;
  margin-top: 0;
  padding-top: 42px;
  color: hsl(179, 62%, 43%);
}
.div3-h3{
  width: 80%;
  margin-left: 42px;
  color: hsl(71, 73%, 54%);
}
.div3-p{
  width: 90%;
  margin-left: 42px;
  color: hsl(218, 22%, 67%);
  line-height: 2;
}

/**********************DIV-2-->(DIV-4)****************/
.div-4{
  height: 260px;
  width: 630px;
  display: flex;
}
/*****DIV-4-->(DIV-5)*****/
.div-5{
  height: 260px;
  width: 315px;
  display: inline-block;
  background-color: hsl(179, 62%, 43%);
}
.div5-h3{
  color: white;
  width: 50%;
   top: 400px;
  position: absolute;
  margin-left: 40px;
}

.div5-p1{
  position: absolute;
    width: 90%;
    margin-left: 40px;
    top: 435px;
}
.div5-p2{
  color: white;
  position: absolute;
    width: 90%;
    margin-left: 40px;
    top: 480px;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;

  color: #ffffff;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background: hsl(71, 73%, 54%);
  padding: 15px 90px 15px 90px;
  border: solid #f5f5f5 0px;
  text-decoration: none;
  position: absolute;
  top: 545px;
  margin-left: 40px;
}

/*****DIV-4-->(DIV-6)****/
.div-6{
  height: 260px;
  width: 315px;
  display: inline-block;
    background-color: hsl(179, 62%, 43%, 0.8);
  }
  .div6-h3{
    color: white;
    width: 50%;
     top: 400px;
    position: absolute;
    margin-left: 40px;/*or we can use left:ypx; property also*/
  }
  .div6-p{
    color: white;
    opacity: 0.6;
    position: absolute;
    width: 18%;
    top: 465px;
    margin-left: 40px; /*or we can use left:ypx; property also*/
    margin-right: 20px;
    margin-top: 0;

  }

